/* header.css */

.header__headline {
    color: #8b0000;
    background-color: lightsteelblue;
    border-radius: 25px;
    padding: 5px 25px;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 15px;
  }
  
  .header__notification {
    color: #2c2c2c;
    background-color: lightsteelblue;
    max-width: 600px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }
  
  .header__notification--button {
    margin: 5px;
  }
  
  .header__button {
    background-color: lightgrey;
    padding: 3px 30px;
    border-radius: 12px;
  }
  
  .header__button:focus {
    outline: 1px solid currentColor;
  }